body {
  margin:0;
}
.navbar-nav {
   left: 50%;
}
.navbar-nav li {
    padding: 10px;
    display: inline-block;
}
.navbar-nav li a {
    color: white;
    text-decoration: none;
    text-align: right;
}
.navbar-brand {
    padding-left: 100px;
    padding-top: 50px;
    color: #EAB543;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
}
.splash {
    width: 100%;
    background-image: url('https://images.pexels.com/photos/1029604/pexels-photo-1029604.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}
.splash-text {
    text-align: center;
    color: white;
    align-items: center;
}
.page-subtitle {
    font-size: 50px;
}
.page-title {
    font-style: italic;
}
.button {
  display: inline-block;
  width: 160px;
  margin: 24px auto 24px auto;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-width: 2px;
  border-color: #EAB543;
  border-style: solid;
  background-color: #EAB543;
  justify-content: center;
}
.button a {
  text-decoration: none;
  color: white;
}
.services h1, h4 {
  text-align: center;
}
.services h1 {
  font-size: 40px;
}
.services i {
  font-size: 30px;
  color: #EAB543;
}
.portfolio {
  background: #bdc3c7;
}
.portfolio h1, h4 {
  text-align: center;
}
.portfolio h1 {
  font-size: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.card {
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  background: white;
  text-align: center;
}
.card img {
  width: 100%;
}
.info li {
    height: 16px;
    width: 16px;
    list-style: none;
    display: inline-flex;
}
.info i {
    color: black;
}
